# Math library
# Syntax: same as inbuilt_funcs.config

cos(Float) -> Float
sin(Float) -> Float
tan(Float) -> Float
sqrt(Float) -> Float
abs(Float) -> Float
pow(Float, Float) -> Float
floor(Float) -> Float
ceil(Float) -> Float
min(Float, Float) -> Float
max(Float, Float) -> Float
log(Float) -> Float
log2(Float) -> Float
