# Inbuilt types configuration
# Syntax:
#   TypeName:
#   op1 op2 ... : RhsType1 RhsType2 ... -> ReturnType
#   Use ! prefix for error union return: -> !ReturnType
#
# Supported operators: + - * / % == != > < >= <= and or

Int:
+ - * % : Int -> Int
/ : Int -> !Int
+ - : Bool -> Int
+ - : Char -> Int
== != >= <= > < : Int -> Bool
== != >= <= > < : Char -> Bool
== != : Void -> Bool

Char:
+ - : Char -> Char
+ - : Int -> Char
== != >= <= > < : Char -> Bool
== != >= <= > < : Int -> Bool

String:
+ : Char -> String
== != : String -> Bool

Bool:
and or : Bool -> Bool


Float:
+ - * % / : Int Float -> Float
== != >= <= > < : Int Float -> Bool
